geopandas==1.0.1
geopy==2.4.1
gotrackit==0.3.17
matplotlib==3.10.1
networkx==3.4.2
numpy==2.2.3
pandas==2.2.3
Pillow==11.1.0
pykalman==0.10.1
pytz==2024.2
scipy==1.15.2
seaborn==0.13.2
Shapely==2.0.7
